/*Global*/

body {
	background-color: rgb(177, 164, 145);
	font-family: 'Titillium Web', sans-serif;
  color: #fff;
}

div.container-fluid {
	padding: 0;
}

img {
	width: 100%;
}

img.logo.img-responsive {
	max-width: 60%;
	box-shadow: 4px 4px 6px solid #000;
	z-index: 9999;
}

a {
	color: #583E2D;

}
a:hover{
  color: black;
  text-decoration: none;
}
a:link {
  color: #583E2D;
}
a:visited{
  color: #583E2D;
}
.navbar-default .navbar-nav>li>a{
  color: #583E2D;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: black;
}


/*NAVBAR*/

.brand-centered {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.navbar.navbar-default {
	margin-top: 50px;
	background-color: rgba(177, 164, 145, .01);
	border: none;
}





ul.nav.navbar-nav.navbar-left{
  padding-left: 0;
}

.brand-centered .navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-toggle {
	z-index: 1;
}


/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */

.navbar-alignit .navbar-header {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height: 50px;
}

.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0, -50%);
	margin-right: 15px;
	margin-left: 15px;
}



.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}


/*CAROUSEL*/

/*Margin for gap between Nav bar and slider*/

/*.carousel{
  margin-top: 3%;
}*/

/*Fade*/

.fade-carousel {
	position: relative;
	height: 100vh;
}

.fade-carousel .carousel-inner .item {
	height: 100vh;
}

.fade-carousel .carousel-indicators>li {
	margin: 0 2px;
	background-color: #f39c12;
	border-color: #f39c12;
	opacity: .7;
}

.fade-carousel .carousel-indicators>li.active {
	width: 10px;
	height: 10px;
	opacity: 1;
}


/*hero headers*/

.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
	font-size: 6em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
	opacity: 0;
	-webkit-transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
	opacity: 1;
	-webkit-transition: 2s all ease-in-out .1s;
}


/*Overlay*/

.overlay {
	position: absolute;
	width: 100%;
	height: 80%;
	z-index: 2;
	background-color: #080d15;
	opacity: .4;
}

ol.carousel-indicators {
	position: absolute;
	top: 400px;
}


/*Custom Buttons*/

.btn.btn-lg {
	padding: 10px 40px;
}

.btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus {
	color: #f5f5f5;
	background-color: #1abc9c;
	border-color: #1abc9c;
	outline: none;
	margin: 20px auto;
}


/*Slides*/

.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3 {
	height: 80vh;
	width: 100%;
	background-size: cover;
}

.fade-carousel .slides .slide-1 {
	background-image: url(../images/bannerOne.png);
}

.fade-carousel .slides .slide-2 {
	background-image: url(../images/bannerTwo.png);
}

.fade-carousel .slides .slide-3 {
	background-image: url(../images/bannerThree.png);
}


/*BEGIN BODY*/

.droneInfo {
	width: 100%;
	background-color: #545760;
	padding: 2% 0;
	z-index: -1;
}

.history {
	text-align: center;
	margin-top: 5%;
	font-size: 18px;
	
}

.history>p {
  margin-top: 10%;
	text-align: left;
}

img.tacocopter.img-responsive {
	min-width: 100%;
	min-height: 100%;
}

.rowThree {
	margin-top: 7%;
  margin-bottom: 7%;
	width: 100%;
	background-color: #545760;
	padding: 2% 0;
	z-index: -1;
}

.rowThree h1 {
	text-align: center;
}

.rowThree h2 {
	text-align: center;
}


/*Begin About Page*/

.about {
	width: 100%;
	height: 320px;
	text-align: center;
	margin-top: 50px;
	background-color: #545760;
	margin-bottom: 50px;

}

.about > p,h1 {
	width: 50%;
	margin: 0 auto;
	padding-top: 25px;

}
.about > p {
	font-size: 18px;
}

/*FOOTER*/

.footer {
  width: 100%;
	background-color: #FF4500;
  display: inline;
  text-align: center;
}

.footer ul {
	list-style-type: none;
}

.footer ul a {
	box-sizing: border-box;
	padding: 2% .5%;
}

img.social.img-responsive{
  width: 3%;
  display: inline;
  text-align: center;
}



/********************************/


/*          Media Queries       */


/********************************/

@media screen and (min-width: 980px) {
	.hero {
		width: 980px;
  	}

}

@media screen and (max-width: 640px) {
	.hero h1 {
		font-size: 4em;
	}
  img.social.img-responsive{
    margin-top: 2%;
    width: 10%;
  }
}
